<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Information</title>
      <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <div class="container">
      <div class="header">
          <nav>
              <ul class="nav nav-pills pull-right">
                  <li role="presentation"><a href="index">Home</a>
                  </li>
                  <li role="presentation"><a href="showCalcPage">Calculator</a>
                  </li>
                  <li role="presentation" class="active"><a href="showInformation">Information</a>
                  </li>
              </ul>
          </nav>
          <h3 class="text-muted">Breast Cancer Prognosis Calculator</h3>
      </div>
  </div>
</html>
